.header {
    background-image: url(images/h_img.jpg);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding-top: 200px;
    color: white;
    height: 100vh;
}
.services{
    
}
