
body{
  overflow-x:hidden ;
}
.header {
    background-image: url(images/h_img.jpg);
    background-size: cover;
    text-align: center;
    padding-top: 200px;
    color: white;
    height: 100vh;
}
.services{
  background-image: url(/images/s_image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  height: 50vh;
  color: white;
  font-size: 18px;
  margin-top: 20px;
  padding-top: 20px;
}
.design1,.develop1,.management1{
  display:none;
}

h1{
  text-align: center;
}
#back{
  background-image: url(/images/c_image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
}
h2{
  text-align: center;
  font-weight:bold ;
}
#about-us{
  text-align: center;
  padding: 2%;
}

.social-media{
  align-items: center;
}
#name,#email{
  background-color: transparent;
}
#textArea::placeholder{
  background-color: transparent;
}

